*{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
body{
    background-color: rgb(83, 83, 83);
}
h1, h2, h3 ,h4, h5, h6{
    text-align: center;
}
a.keplink{
    font-size: xx-large;
}
button{
    border: 3px;
    background-color: black;
    border-color: white;
    border-radius: 5px;
    font-size: large;
}
a{
    text-decoration: none;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: black;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}