@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(150, 150, 150)
}
button{
    border-radius: 25px;
    background-color: darkgray;
}
a{
  color: orange;
  text-decoration: none;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(112, 112, 112);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: orange;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: rgb(150, 150, 150);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: yellow;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar a {
      float: left;
  }

  div.content {
      margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
      text-align: center;
      float: none;
  }
}
footer{
  text-align: center;
  background-color: darkkhaki;
}